CONFIG_ANDROID_BINDER_IPC_SELFTEST=y
CONFIG_ARM_PSCI_CHECKER=y
CONFIG_ATH_REG_DYNAMIC_USER_CERT_TESTING=y
CONFIG_ATH5K_TEST_CHANNELS=y
CONFIG_BT_SELFTEST=y
CONFIG_BTRFS_FS_RUN_SANITY_TESTS=y
CONFIG_DEBUG_IMR_SELFTEST=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_DEBUG_NMI_SELFTEST=y
CONFIG_DEBUG_OBJECTS_SELFTEST=y
CONFIG_DEBUG_RODATA_TEST=y
CONFIG_DEBUG_TEST_DRIVER_REMOVE=y
CONFIG_DRM_DEBUG_SELFTEST=y
CONFIG_DRM_I915_SELFTEST=y
CONFIG_DRM_I915_SELFTEST_BROKEN=y
CONFIG_FTRACE_SELFTEST=y
CONFIG_FTRACE_STARTUP_TEST=y
CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST=y
CONFIG_IOMMU_IO_PGTABLE_LPAE_SELFTEST=y
CONFIG_KCSAN_SELFTEST=y
CONFIG_KGDB_TESTS=y
CONFIG_MEDIA_TEST_SUPPORT=y
CONFIG_MEMTEST=y
CONFIG_KUNIT_DEBUGFS=y
CONFIG_DEBUG_LOCKING_API_SELFTESTS=y
CONFIG_MPTCP_HMAC_TEST=y
CONFIG_NL80211_TESTMODE=y
CONFIG_OF_UNITTEST=y
CONFIG_PM_TEST_SUSPEND=y
CONFIG_RANDOM32_SELFTEST=y
CONFIG_RCU_PERF_TEST=y
CONFIG_RING_BUFFER_STARTUP_TEST=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_KPROBES_SANITY_TEST=y
CONFIG_RTL8XXXU_UNTESTED=y
CONFIG_SND_SOC_SOF_DEBUG_IPC_FLOOD_TEST=y
CONFIG_STATIC_KEYS_SELFTEST=y
CONFIG_STMMAC_SELFTESTS=y
CONFIG_TEST_KASAN=y
CONFIG_TORTURE_TEST=y
CONFIG_UAPI_HEADER_TEST=y
CONFIG_USB_HCD_TEST_MODE=y
CONFIG_V4L_TEST_DRIVERS=y
CONFIG_KALLSYMS_SELFTEST=y
