# CONFIG_ANDROID_BINDER_IPC_SELFTEST is not set
# CONFIG_ARM_PSCI_CHECKER is not set
# CONFIG_ATH_REG_DYNAMIC_USER_CERT_TESTING is not set
# CONFIG_ATH5K_TEST_CHANNELS is not set
# CONFIG_BT_SELFTEST is not set
# CONFIG_BTRFS_FS_RUN_SANITY_TESTS is not set
# CONFIG_DEBUG_IMR_SELFTEST is not set
# CONFIG_DEBUG_LOCKING_API_SELFTESTS is not set
# CONFIG_DEBUG_NMI_SELFTEST is not set
# CONFIG_DEBUG_OBJECTS_SELFTEST is not set
# CONFIG_DEBUG_RODATA_TEST is not set
# CONFIG_DEBUG_TEST_DRIVER_REMOVE is not set
# CONFIG_DRM_DEBUG_SELFTEST is not set
# CONFIG_DRM_I915_SELFTEST is not set
# CONFIG_DRM_I915_SELFTEST_BROKEN is not set
# CONFIG_FTRACE_SELFTEST is not set
# CONFIG_FTRACE_STARTUP_TEST is not set
# CONFIG_IOMMU_IO_PGTABLE_ARMV7S_SELFTEST is not set
# CONFIG_IOMMU_IO_PGTABLE_LPAE_SELFTEST is not set
# CONFIG_KCSAN_SELFTEST is not set
# CONFIG_KGDB_TESTS is not set
# CONFIG_MEDIA_TEST_SUPPORT is not set
CONFIG_MEMTEST=n
# CONFIG_KUNIT_DEBUGFS is not set
# CONFIG_DEBUG_LOCKING_API_SELFTESTS is not set
# CONFIG_MPTCP_HMAC_TEST is not set
# CONFIG_NL80211_TESTMODE is not set
# CONFIG_OF_UNITTEST is not set
# CONFIG_PM_TEST_SUSPEND is not set
# CONFIG_RANDOM32_SELFTEST is not set
# CONFIG_RCU_PERF_TEST is not set
# CONFIG_RING_BUFFER_STARTUP_TEST is not set
CONFIG_RUNTIME_TESTING_MENU=y
# CONFIG_KPROBES_SANITY_TEST is not set
# CONFIG_RTL8XXXU_UNTESTED is not set
# CONFIG_SND_SOC_SOF_DEBUG_IPC_FLOOD_TEST is not set
# CONFIG_STATIC_KEYS_SELFTEST is not set
# CONFIG_STMMAC_SELFTESTS is not set
# CONFIG_TEST_KASAN is not set
# CONFIG_TORTURE_TEST is not set
# CONFIG_UAPI_HEADER_TEST is not set
# CONFIG_USB_HCD_TEST_MODE is not set
# CONFIG_V4L_TEST_DRIVERS is not set
